.mainwrapper{
  width: 1000px;
  height: 310px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 40px;
  background-color: #0c2340;
  margin: 50px 100px 0px 100px;
  border-radius: 25px;
}

.descwrapper{
  width:400px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 24px;
  text-align: justify;
}
.product{
  width:400px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 24px;


}

.productimg
{
  border-radius: 20px;
  border: 3px solid white;
}
.content{
  margin-top: 150px;
  height: max-content;
}

.productdesc{
  font-size: 18px;
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Number of lines to display before ellipsis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buynow
{
  font-size: 18px;
  background-color: #ae0509;
  width: 250px;
  padding: 5px;
  border-radius: 20px;
  color: white;
  border:2px solid white;

}
.onerror{
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  color: red;
}
.title
{
  text-transform: uppercase;
  font-size: 20px;
  margin-left: -120px;
  font-weight: bolder;
}

@media screen and (max-width:780px) {
  .mainwrapper{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: auto;
    margin-top: 30px;

  }
  .descwrapper,.product{
    width:auto ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 18px;
   
  }

  .buynow{
    width: auto;
    font-size: 18px;
  }

.onerror{
  font-size: 18px;
}
.productimg{
  width: 200px;
  height: 200px;
}
.title{
  margin-left: -20px;
}
.content{
  margin-top: 50px;
}

}