.singleproductcard {
  margin-top: 50px;
  margin: 0px 5vw;
  width: 90vw;
  background-color: #0c2340;
  height: 400px;
  display: flex;
  gap: 20px;
  color: white;
  padding: 20px;
  margin-left: 30px;
}
.mainwrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.description {
  color: white;
  font-size: 24px;
  padding: 4px;
}

.descwrapper {
  width: 500px;
  height: 100%;
  background-color: #0c2340;
  display: flex;
  flex-direction: column;
  gap: 35px;
  
}
.price {
  font-size: 28px;
}

.buynow {
  width: 200px;
  padding: 10px;
  height: 50px;
  border: none;
  background-color: #e4002a;
  border-radius: 12px;
  color: white;
  font-size: 16px;
}

.productname {
  font-size: 26px;
  text-transform: uppercase;
}
.productname1 {
  font-size: 26px;
  text-transform: uppercase;
  margin-left: 40px;
  color: #e4002a;
}
.notfound {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  color: #0c2340;
}
