.mainwrapper{
  width: 80vw;
  height: 400px;
  display: flex;
  justify-content: start;
  text-align: start;
  gap: 20px;
  padding: 40px;
  background-color: #0c2340;
  margin-left: 50px;
  margin-top: 50px;
}

.descwrapper,.product{
  width:35vw ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 26px;
 
}

.productimg
{
  object-fit: fill;
}
.content{
  height: 100vh;
}

.productdesc{
  font-size: 20px;
  color: white;
}
.productname{
 text-transform: uppercase;
 word-break: break-all;
}
.buynow
{
  font-size: 20px;
  background-color: #ae0509;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  border:2px solid white;

}
.onerror{
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  color: red;
}
.title
{
  text-transform: uppercase;
  font-size: 24px;
}

@media screen and (max-width:780px) {
  .mainwrapper{
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 0;
    margin-right: 0;

  }
  .descwrapper,.product{
    width:auto ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 18px;
   
  }

  .buynow{
    width: auto;
    font-size: 18px;
  }

.onerror{
  font-size: 18px;
}


}