.SignupLoginbtn {
  display: flex;
  background-color: #0c2340;
  justify-content: center;
  gap: 3px;
  align-items: center;
  width: 150px;
   height: max-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.SignupLoginbtn > p {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
