.footersection {
  width: 100%;
  padding: 10px;
  background-color: #E65100;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  height: 400px;
}

.links {
  text-decoration: underline;
  font-size: 18px;
  text-transform: uppercase;
}
.quicklinks {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.sociallinks {
  display: flex;
  gap: 20px;
}
.contactsec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  margin-top: 30px;
}

.customtoast {
    width:300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    background-color: #d4e0f0;
    padding: 10px;
    margin-top: 100px;
    border-radius: 15px ;
    
  }
  .buttonsection
  {
    display: flex;
    padding: 3px;
    width: 100%;
    height: 40px;
    justify-content: space-around;
  }
  .confirmbtn
  {
    width: 100px;
    padding: 6px;
    font-size: 16px;
    background-color: red;
    border: 2px solid white;
    border-radius: 15px ;
   color: white;
  }
  .cancelbtn
  {
    width: 100px;
    padding: 4px;
    background-color:white;
    color: rgb(38, 38, 38);
    border: 2px solid grey;
    border-radius: 15px ;
  }
  .icons
  {
    cursor: pointer;
  }

  .copyright{
   text-align: center;
    margin-top: 0px;
    color: white;
    margin-bottom: 100px;
  }
  .main{
    background-color: #E65100;
  }


@media screen and (max-width: 780px) {
  .footersection {
    width: 100%;
    padding: 10px;
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
   
    
  }
  .customtoast
  {
    margin-left: 50px;
  }

  .copyright{
    margin-top: 20px;
    text-align: center;
  }

  .main{
    background-color: #E65100;
    display: flex;
    flex-direction: column;
   
  }
}
