/* .productcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: #99f78d;
  position: relative;
} */
/* .productcard {
  background-color: rgb(211, 103, 103);
  width: 300px;
  height: 290px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  margin-top: 100px;
} */
/* .addnow {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.addnowbtn {
  background-color: #e4002a;
  outline: none;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  text-transform: uppercase;
} */

.prodname {
  color: #0c234c;
  padding-left: 6px;
}

.categoryname {
  margin-top: 50px;
  font-size: 32px;
  padding: 5px;
  color: #0c234c;
  text-transform: uppercase;
  border-bottom: 8px solid orange;
  border-bottom-right-radius: 5px;
  width: fit-content;
  text-align: center;
}

.container {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
}

.cards {
  background-color: #d4e0f0;
  line-clamp: 3;
  overflow: hidden;
  border-radius: 25px;
  height: 340px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.wrapper {
  width: 80vw;
  height: 400px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #0c234c;
  margin-bottom: 100px;
  /* position: relative; */
  padding: 20px;
}

.prodimage {
  object-fit: cover;
  width: 100%;
}

.addsection {
  display: flex;
  justify-content: space-around;
}

.addbtn {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: #e4002a;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.NextArrow {
  position: absolute;
  top: 0px;
  left: 10%;
  bottom: 10px;
}

.Notfoundmsg {
  font-size: 35px;
  color: #e4002a;
  text-align: center;
  padding: 5px;
}
.tryout {
  font-size: 30px;
  color: orange;
  padding: 5px;
  text-align: center;
}
.producttitle {
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 780px) {
  .addbtn {
    font-size: 14px;
    width: 50px;
  }

  .addsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .producttitle {
    font-size: 18px;
  }
  .Notfoundmsg,
  .tryout {
    font-size: 20px;
  }
  .NextArrow {
    left: 15%;
  }
  .categoryname {
    font-size: 16px;
    margin-top: 0;
    border-bottom: 3px solid orange;
    border-bottom-right-radius: 5px;
    margin-bottom: 4px;
    font-weight: 700;
  }
  .wrapper {
    padding: 5px;
    margin-bottom: 0px;
    height: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .cards {
    width: 200px;
   height: auto;
   padding: 2px;
   border-radius: 0px;

  }
  .prodimage{
    height: 150px;
    object-fit:cover;
    width: 100%;

  }
}
