.video {
  width: 100vw;
  height: 550px;
  object-fit: cover;
  margin-top: 5px;
}



@media screen and (max-width: 780px) {
  .video {
    height: 450px;
  }
}

.VideoSection {
  width: 100vw;
  font-size: 25px;
  color: #0c2340;
  height: 150px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* Hide the default video controls */
.video::-webkit-media-controls {
  display: none;
}

/* For Firefox */
.video::-webkit-media-controls-panel {
  display: none !important;
}

/* For Microsoft Edge */
.video::-webkit-media-controls-enclosure {
  display: none !important;
}